.singlePost{
    flex: 9;
}

.singlepostwrapper{
    padding: 20px;
    padding-right: 0;
}

.singlepostimg{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;

}

.singleposttitle{
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 25px;
}

.singlepostedit{
    float: right;
    font-size: 16px;
}

.singleposticon{
    margin-left: 10px;
    cursor: pointer;

}

.singleposticon:first-child{
    color: teal;
}
.singleposticon:last-child{
    color: red;
}

.singlepostinfo{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    font-size: 16px;
    color: #b39656;
    font-family: 'Varela Round', sans-serif;
}

.singlepostdesc{
    color: #666;
    font-size: 18px;
}

.singlepostdesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}