.settings{
    display: flex;
}

.settingswrapper{
    flex: 9;
    padding: 20px;
}

.settingtitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingsupdatetitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}

.settingsdeletetitle{
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.settingsform{
    display: flex;
    flex-direction: column;
}
.settingspp{
    display: flex;
    align-items: center;
    margin: 10px 0;  


}

.settingspp > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsppicon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(128, 180, 240);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

/* 1;19 vid go for delete ac */

.settingsform > label{
    font-size: 20px;
    margin-top: 20px;
}

.settingsform > input{
    color: rgb(105, 66, 7);
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(238, 205, 205);
}

.settingssubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}